.navBar{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  background-color:#242424;
}
.aNav{
  display: flex;
  gap :30px;
  text-align: center;
  align-items: center;
  font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif;
 
}
.aNav a:hover{
  background-color: rgb(37, 75, 75,0.5);
  font-weight: 600;
}
.cartIcon{
  width: 50px;
}
.spanNumber{
  background-color: rgb(83, 63, 63);

  border-radius: 50px;
  position:absolute;
  width: 25px;
  top: 25px;
}

.cardFlex{
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 40px;
  justify-content: center;
  
}